/* Main Css */
@import url('https://fonts.googleapis.com/css?family=Acme|Libre+Caslon+Text|Lobster|Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline-color: var(--secondary-color);
}
html,
body,
header,
main,
footer{
  font-family: 'Roboto Slab', serif;
font-family: 'Lobster', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Libre Caslon Text', serif;
  font-size: 1rem;
  background: rgb(18, 18, 26);
}

:root {
  --primary-color: #04cfbe;
  --secondary-color: #ff8c00;
  --bg-light: #f8f8f8cc;
  --bg-dark: #333;
  --text-light: #fff;
  --text-dark: #333;
}
/* header begins */
nav{
	background:linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9)), url('home-bg-img.jpg') no-repeat center;
  background-size: cover;
  height: 400px;
  padding: 20px;

}

nav li a{
  text-decoration: none;
  color: var(--text-light);
  margin: 5px;
  font-size: 20px;
}
nav li a:hover {
  color: var(--primary-color);
  text-decoration: none;
} 
.nav-links{
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
}
nav li {
  color: var(--text-dark);
  text-transform: capitalize;
  transition: all 300ms ease-in-out;
  font-weight: bold;
  margin: 15px;
}
nav li:hover {
  border-bottom: 1px solid var(--text-dark);
}
nav .landing-text{
  position: relative;
  top: 80px;
  text-align: center;
}
.landing-text h1,p{
  color: var(--text-light);
}
/* header ends */

/* first-container begins */
/* left side */
.first-container .left{
  margin-top: 60px;
  background: rgb(37, 36, 36);
}
.left h1{
  font-weight: bold;
  color: var(--text-light);
  margin: 20px;
}
.left p{
  color: var(--text-light);
  margin: 20px;
  line-height: 30px;
}
.left span{
  color: var(--primary-color);
}
/* left ends */
/* right */
.right{
  margin-top: 60px;
  color: var(--text-light);
}
.right h3{
  font-weight: bold;
}
.one{
  text-align: center;
  margin: 10px;
  box-shadow: 1px 5px 8px 2px rgba(0,0,0,0.2); 

}

.one img{
  border: 5px solid rgb(18, 18, 26);
  border-radius: 80%;
  margin: 30px;
}
.one i{
  margin: 20px;
}
.two{
  box-shadow: 1px 5px 8px 2px rgba(0,0,0,0.2); 
  margin: 10px;
  margin-top: 40px;
}
.two .text{
  margin: 10px;
  padding:10px;
}

.three{
  box-shadow: 1px 5px 8px 2px rgba(0,0,0,0.2); 
  margin: 10px;
  margin-top: 40px;
}
.three .text{
  margin: 10px;
  padding:10px;
}
.four{
  box-shadow: 1px 5px 8px 2px rgba(0,0,0,0.2); 
  margin-top: 40px;
}
.four img{
  margin: 5px;
}
/* right ends */
/* first-container ends */

/* second container */
.box1{
  box-shadow: 1px 5px 8px 2px rgba(0,0,0,0.2);
  margin-top: 60px;
  width: 100%;
}
.box1 h3{
  color: var(--text-light);
  margin-left: 10px;
  font-weight: bold;
}
.box1 input, textarea{
  display: block;
  margin-top: 20px;
  background: rgb(18, 18, 26);
  height: 60px;
  border-radius: 10px;
  width: 90%;
  color: var(--text-light);
  padding: 20px;
}
.box1 textarea{
  width: 90%;
}
.box1 input{
  margin: 20px;
  outline: none;
}
.box1 input::placeholder{
  color: #fff;
}
.box1 textarea::placeholder{
  color: #fff;
}
.box1 textarea{
  margin: 20px;
  height: 200px;
}
.box1 button{
  width: 100%px;
  height: 40px;
  margin: 20px;
  border-radius: 20px;
  background: var(--primary-color);
}
/* second container ends */

/* third container */
.third-container h2{
  margin-top: 200px;
  color: var(--text-light);
  font-weight: bold;
  text-align: center;
  width: 100%;
}
.left{
  color: var(--text-light);
  margin-top: 100px;
}
.left .box{
  display: flex;
  background: rgb(37, 36, 36);
  margin-top: 30px;

}
.box i{
  border:1px solid var(--primary-color);
  font-size: 30px;
  padding: 40px;
  border-radius: 50%;
  margin: 20px;
}
.box .text h3{
  font-weight: bold;
  margin-top: 20px;
  margin-left: 20px;
}
.right-side{
  margin-top: 100px;

}
.right-side form{
  width: 100%;
}
.right-side input, textarea{
  display: block;
  margin-top: 20px;
  background: rgb(18, 18, 26);
  height: 60px;
  border-radius: 10px;
  width: 90%;
  color: var(--text-light);
  padding: 20px;
}
.right-side textarea{
  width: 90%;
}
.right-side input{
  margin: 20px;
  outline: none;
}
.right-side input::placeholder{
  color: #fff;
}
.right-side textarea::placeholder{
  color: #fff;
}
.right-side textarea{
  margin: 20px;
  height: 200px;
}
.right-side button{
  width: 90%;
  margin-left: 20px;
  border-radius: 20px;
  height: 50px;
  background: var(--primary-color);
}
/* third-container ends */
/* main ends */

/* footer begins */
.footer p{
  color: var(--text-light);
  font-size: 15px;
  text-align: center;
  padding-top: 100px;
}
/* media query begins */
@media screen and (max-width: 768px){
  .drop{
    position: absolute;
    cursor: pointer;
    top: 8%;
    right: 50%;
  }
  .line{
    width: 30px;
    height: 3px;
    background-color: #333;
    margin:5px; 
  }
  .nav-links{
    text-align: center;
    position: absolute;
    background-color: grey;
    background:linear-gradient(to right, rgba(0, 0, 0, .9), rgba(0, 0, 0, .9));
    z-index: 2;
    height: 100vh;
    width: 50%;
    right: 0;
    top: 0;
    padding-bottom: 15rem;
    flex-direction: column;
    clip-path: circle(100px at 95% -30%);
    -webkit-clip-path: circle(100px at 95% -30%);
    transition: all 1s ease-in-out;
  }
  .nav-links a{
    color: #fff;
    text-align: center;
  }
  .nav-links.open{
    clip-path: circle(1000px at 95% -30%);
    -webkit-clip-path: circle(1000px at 95% -30%);
  }
 }
/* media query ends */

